name: nfx-identity-dev

services:
  #! Traefik Reverse Proxy
  reverse-proxy:
    image: traefik:latest
    container_name: NFX-Identity-Reverse-Proxy-Dev
    command:
      - --api.insecure=true
      - --providers.docker
      - --providers.docker.exposedByDefault=false
      - --entrypoints.web.address=:${TRAEFIK_HTTP_INTERNAL_PORT}
      - --entrypoints.traefik.address=:${TRAEFIK_DASHBOARD_INTERNAL_PORT}
    ports:
      - "${TRAEFIK_HTTP_PORT}:${TRAEFIK_HTTP_INTERNAL_PORT}"   # 内网 HTTP 入口
      - "${TRAEFIK_HTTPS_PORT}:${TRAEFIK_HTTPS_INTERNAL_PORT}"  # 外网 HTTPS 入口
      - "${TRAEFIK_DASHBOARD_PORT}:${TRAEFIK_DASHBOARD_INTERNAL_PORT}" # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity
    restart: unless-stopped

  #! Auth Base Service (all services in goroutines)
  auth-base:
    image: nfx-identity-auth-base:dev
    container_name: NFX-Identity-Auth-Base-Dev
    build:
      context: .
      dockerfile: inputs/auth/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/auth/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_AUTH}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.auth-base.entrypoints: web
      traefik.http.routers.auth-base.rule: PathPrefix(`${API_PREFIX_PATH_AUTH}`)
      traefik.http.services.auth-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/auth/base
          target: /app/inputs/auth/base
        - action: sync
          path: inputs/auth/configuration
          target: /app/inputs/auth/configuration
        - action: sync
          path: modules/auth
          target: /app/modules/auth
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/auth/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

  #! Image Base Service (all services in goroutines)
  image-base:
    image: nfx-identity-image-base:dev
    container_name: NFX-Identity-Image-Base-Dev
    build:
      context: .
      dockerfile: inputs/image/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/image/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_IMAGE}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.image-base.entrypoints: web
      traefik.http.routers.image-base.rule: PathPrefix(`${API_PREFIX_PATH_IMAGE}`)
      traefik.http.services.image-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/image/base
          target: /app/inputs/image/base
        - action: sync
          path: inputs/image/configuration
          target: /app/inputs/image/configuration
        - action: sync
          path: modules/image
          target: /app/modules/image
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/image/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

  #! Access Base Service (all services in goroutines)
  access-base:
    image: nfx-identity-access-base:dev
    container_name: NFX-Identity-Access-Base-Dev
    build:
      context: .
      dockerfile: inputs/access/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/access/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_ACCESS}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.access-base.entrypoints: web
      traefik.http.routers.access-base.rule: PathPrefix(`${API_PREFIX_PATH_ACCESS}`)
      traefik.http.services.access-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/access/base
          target: /app/inputs/access/base
        - action: sync
          path: inputs/access/configuration
          target: /app/inputs/access/configuration
        - action: sync
          path: modules/access
          target: /app/modules/access
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/access/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

  #! Audit Base Service (all services in goroutines)
  audit-base:
    image: nfx-identity-audit-base:dev
    container_name: NFX-Identity-Audit-Base-Dev
    build:
      context: .
      dockerfile: inputs/audit/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/audit/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_AUDIT}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.audit-base.entrypoints: web
      traefik.http.routers.audit-base.rule: PathPrefix(`${API_PREFIX_PATH_AUDIT}`)
      traefik.http.services.audit-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/audit/base
          target: /app/inputs/audit/base
        - action: sync
          path: inputs/audit/configuration
          target: /app/inputs/audit/configuration
        - action: sync
          path: modules/audit
          target: /app/modules/audit
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/audit/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

  #! Clients Base Service (all services in goroutines)
  clients-base:
    image: nfx-identity-clients-base:dev
    container_name: NFX-Identity-Clients-Base-Dev
    build:
      context: .
      dockerfile: inputs/clients/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/clients/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_CLIENTS}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.clients-base.entrypoints: web
      traefik.http.routers.clients-base.rule: PathPrefix(`${API_PREFIX_PATH_CLIENTS}`)
      traefik.http.services.clients-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/clients/base
          target: /app/inputs/clients/base
        - action: sync
          path: inputs/clients/configuration
          target: /app/inputs/clients/configuration
        - action: sync
          path: modules/clients
          target: /app/modules/clients
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/clients/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

  #! Directory Base Service (all services in goroutines)
  directory-base:
    image: nfx-identity-directory-base:dev
    container_name: NFX-Identity-Directory-Base-Dev
    build:
      context: .
      dockerfile: inputs/directory/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/directory/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_DIRECTORY}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.directory-base.entrypoints: web
      traefik.http.routers.directory-base.rule: PathPrefix(`${API_PREFIX_PATH_DIRECTORY}`)
      traefik.http.services.directory-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/directory/base
          target: /app/inputs/directory/base
        - action: sync
          path: inputs/directory/configuration
          target: /app/inputs/directory/configuration
        - action: sync
          path: modules/directory
          target: /app/modules/directory
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/directory/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

  #! System Base Service (all services in goroutines)
  system-base:
    image: nfx-identity-system-base:dev
    container_name: NFX-Identity-System-Base-Dev
    build:
      context: .
      dockerfile: inputs/system/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/system/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_SYSTEM}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.system-base.entrypoints: web
      traefik.http.routers.system-base.rule: PathPrefix(`${API_PREFIX_PATH_SYSTEM}`)
      traefik.http.services.system-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/system/base
          target: /app/inputs/system/base
        - action: sync
          path: inputs/system/configuration
          target: /app/inputs/system/configuration
        - action: sync
          path: modules/system
          target: /app/modules/system
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/system/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

  #! Tenants Base Service (all services in goroutines)
  tenants-base:
    image: nfx-identity-tenants-base:dev
    container_name: NFX-Identity-Tenants-Base-Dev
    build:
      context: .
      dockerfile: inputs/tenants/base/Dockerfile
      target: dev
    environment:
      - ENV=dev
    command: [ "air", "-c", "inputs/tenants/base/.air.toml" ]
    expose:
      - "${HTTP_PORT}"
      - "${GRPC_PORT_TENANTS}"  # gRPC 端口
    labels:
      traefik.enable: "true"
      traefik.http.routers.tenants-base.entrypoints: web
      traefik.http.routers.tenants-base.rule: PathPrefix(`${API_PREFIX_PATH_TENANTS}`)
      traefik.http.services.tenants-base.loadbalancer.server.port: "${HTTP_PORT}"
    volumes:
      - ./static:/app/static
      - ./data:/app/data
      - ./assets:/app/assets
    develop:
      watch:
        - action: sync
          path: inputs/tenants/base
          target: /app/inputs/tenants/base
        - action: sync
          path: inputs/tenants/configuration
          target: /app/inputs/tenants/configuration
        - action: sync
          path: modules/tenants
          target: /app/modules/tenants
        - action: sync
          path: enums
          target: /app/enums
        - action: sync
          path: events
          target: /app/events
        - action: sync
          path: pkgs
          target: /app/pkgs
        - action: sync
          path: protos
          target: /app/protos
        - action: sync
          path: go.mod
          target: /app/go.mod
        - action: sync
          path: go.sum
          target: /app/go.sum
        - action: rebuild
          path: inputs/tenants/base/Dockerfile
    depends_on:
      reverse-proxy:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - nfx-identity

networks:
  nfx-identity:
    name: nfx-identity
    driver: bridge
