.bar {
  z-index: 10;
  border-bottom: 1px solid var(--gray-a4);
  background: var(--color-panel);
  backdrop-filter: var(--backdrop-filter-panel);
  -webkit-backdrop-filter: var(--backdrop-filter-panel);
}

.divider {
  color: var(--gray-a8);
}
